#home {
  font-family: "Euclid Circular A", sans-serif;
}

.home-section {
  min-height: 100vh;
}

.home-section::before,
.home-section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.home-section::before {
  background-image: url("/assets/background-1.png");
  background-size: cover;
  background-position: center;
  filter: blur(4px);
}

.home-section::after {
  background-image: url("/assets/background-2.png");
  background-size: cover;
  background-position: center;
  opacity: 0.4;
  transition: transform 0.1s;
  /* filter: blur(2px); */
}

.custom-partner {
  color: white;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
    0 0 20px rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.3),
    0 0 40px rgba(255, 255, 255, 0.2), 0 0 50px rgba(255, 255, 255, 0.1);
  /* animation: glow-text 1s ease-in-out infinite alternate; */
}

@media (max-height: 928px) {
  .home-section::before,
  .home-section::after {
    background-size: cover;
  }
}
