html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

:root {
  --sindi-background: rgba(12, 10, 29, 1);
}

.navbar {
  background-color: rgba(12, 10, 29, 0.8);
  color: white;
  font-family: "Euclid Circular A", sans-serif;
  animation: glow-text 3s ease-in-out infinite alternate;
}

.custom-hr {
  border: 0;
  height: 2px;
  background: linear-gradient(to right, #0578eb, #0f62ab, #04417e);
  margin: 0;
  position: relative;
}

.custom-hr::before {
  content: "";
  display: block;
  height: 10px;
  width: 100%;
  background: linear-gradient(to right, #0578eb, #0f62ab, #04417e);
  position: absolute;
  top: -5px;
  left: 0;
  border-radius: 5px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes glow-text {
  from {
    text-shadow: 0 0 0 rgba(255, 255, 235, 0.5);
  }
  to {
    text-shadow: 0 0 20px rgba(255, 255, 255, 1);
  }
}
