<section id="footer" class="footerContent">
  <footer>
    <div class="container text-white py-4">
      <div class="row">
        <div class="col-md-6">
          <img
            src="/assets/logo/sindigilive-logo.png"
            class="img-fluid w-50"
            alt=""
          />
          <p class="mt-3 fs-6">
            Jalan Cisitu Indah III No.2, Dago, Kecamatan Coblong, Kota Bandung,
            Jawa Barat 40135
          </p>
        </div>
        <div class="col-md-3 text-center">
          <!-- <h5 class="text-white">Quick Links</h5> -->
        </div>
        <div class="col-md-3">
          <p class="fs-3 fw-bold mb-2">Quick Links</p>
          <ul class="nav flex-column">
            <li class="nav-item fs-6">
              <a href="#home" class="nav-link p-0 mb-2">Home</a>
            </li>
            <li class="nav-item fs-6">
              <a href="#jennifer-home" class="nav-link p-0 mb-2"
                >APM Jennifer</a
              >
            </li>
            <li class="nav-item fs-6">
              <a href="#join" class="nav-link p-0 mb-2">Join With Us</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container py-1">
      <hr class="custom-hr" />
      <p class="text-center mt-2 text-white">
        &copy; 2024
        <a href="#home" class="fw-bold text-white text-decoration-none"
          >Sindigilive.</a
        >
        All Rights Reserved
      </p>
    </div>
  </footer>
</section>
