<header>
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img
          src="/assets/logo/sindigilive-logo.png"
          alt="Logo"
          class="img-logo"
          width="120"
          height="30"
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav py-2 px-2">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Company
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li><a class="dropdown-item" href="#">Value</a></li>
              <li>
                <a class="dropdown-item" href="#">Careers</a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Products
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="#jennifer-home">APM JENNIFER</a>
              </li>
              <li><a class="dropdown-item" href="#">Tamis</a></li>
              <li>
                <a class="dropdown-item" href="#">QAD Adaptive ERP</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Assets Management System</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">School Control Hub (SCH)</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">LeadLever (Sales App)</a>
              </li>
              <li>
                <a class="dropdown-item" href="#"
                  >Bus Integrated System (BIS)</a
                >
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Services
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="#">Application Development</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Website Development</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Cloud Services</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Creative Studios</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Cyber Security</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Artificial Intelligence</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pages/portofolio/index.html"
              >Portfolio</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Clients</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Partners</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
